#background {
    position: top;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 220, 202);
    left: 0px;
}

/* title and text styling */
#title-background {
    background-image:url('../img/title-background.png');
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0px;
    top: 0px;
    background-color: #ddd7cc;
    outline-offset: 10px;
    z-index:90;
    box-shadow: 5px 5px 5px #4b312b;
}
#title {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 2.5em;
    font-family: "IM Fell English", serif;
    z-index:100;
}

#info_placeholder {
    font-size: 24px;
}

h2 {
    text-align: left;
    margin-left: 2%;
    font-family: "IM Fell English", serif;
    margin-top: 0%; 
}

h3 {
    text-align: center;
    margin-left: 2%;
    font-family: "IM Fell English", serif;

}

h4 {
    text-align: center;
    margin-left: 2%;
    font-family: "IM Fell English", serif;
    padding-bottom:2%;
}

/* pop-up in map */
.popupContent-text {
    text-align: left;
    margin-left: 2%;
    font-family: "IM Fell English", serif;
    font-style: italic;
    font-size:17px;
    margin-top: 0%; 
    margin-bottom: 0%; 
}

#max-text {
    font-family: "IM Fell English", serif;
    font-size: 12px;
    font-weight: bold;
}

#mean-text {
    font-family: "IM Fell English", serif;
    font-size: 12px;
    font-weight: bold;
}

#min-text {
    font-family: "IM Fell English", serif;
    font-size: 12px;
    font-weight: bold;
}

#map {
    position: absolute;
    top: 13%;
    bottom: 0%;
    left: 0%;
    width: 80%;
    height: 87%;
    z-index:80;
  }

/*  modal */
.popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 55%;
    height: 50%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(137, 90, 47, 0.632); */
    font-family: "IM Fell English", serif;
}

.popup-content {
    background-color: #9b8571;
    box-shadow: 3px 3px 3px #4b312b;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: "IM Fell English", serif;
}

hr {
    border: none;              
    height: 2px;               
    background-color: black;  
    margin: 10px 0;           
}

.popup-content p.introduction {
    text-indent: 2em;
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-size:18px;
}

.popup-content p.footnotes {
    text-indent: 2em;
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-size:18px;
}

.popup-content p.datasources {
    text-indent: 2em;
    text-align: left;
    font-style: italic;
    font-size:18px;
    color:#4b312b;
    margin-top: 5px; 
    margin-bottom: 5px;
}

.popup-content img {
    width: 20px; /* Adjust according to your design */
    height: 20px; /* Adjust according to your design */
    vertical-align: middle; /* Align with text */
}

/* modal Close button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover, .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* style popup */
.leaflet-popup {
    background-color: white !important;  
    border: none;
}

.leaflet-popup-content-wrapper {
    background-color:#9b8571;
    border-radius: 0;
    /* border: none !important;  */
    padding: 0 0 0 0 !important; /*Deleted top and bottom white sides!*/
}

.leaflet-popup-tip-container {
    background: transparent !important;
    display: none; 
   }

.leaflet-popup-content {
    z-index: 1000;
    /* background-color: #9b8571 !important; */
    background-color: white !important;
    padding: 16px;
    color: #0f0f0f;
    border: none;
}

path:hover {
    stroke-width: 3px;
    stroke:rgba(137, 90, 47, 0.9);

}


/* style zoom control */

.leaflet-bar {
    border-style: none !important;
}

.leaflet-bar a {
    border-radius: 3px !important;
    border: 2px solid #f7f3f3 !important;
    background-color: rgba(221, 215, 204, 0.9) !important;
    color: #41403d !important;
}

.leaflet-bar a:hover {
    background-color: rgba(137, 90, 47, 0.632) !important;
    border: 2px solid #4e3e3e !important;
    border-radius: 3px;
    color:#f7f3f3 !important;
}

.leaflet-control-zoom-in {
    margin-bottom: 3px;
    border-style: none !important;
    border-radius: 3px !important;
}

.leaflet-control-zoom-out {
    border-style: none !important;
    border-radius: 3px !important;
}

.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 0;             /* Adjust as needed to align text properly */
    color: #41403d !important;
    font-size: 22px;
    width: 100%;                /* Fill the entire button width */
    height: 90%;               /* Fill the entire button height */
    justify-content: center;    /* Center horizontally */
    padding-top: 10px !important;
}

#panel {
    position: absolute;
    background-color: #ddd7cc;
    right:0px;
    width: 20%;
    height: 87%;
    top:13%;
    border-left-color: black;
    bottom: 0%;
}


.legend-control-container {
	width: 180px;
	height: 160px;
	background-color: rgba(221, 215, 204, 0.9);
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 0%;
    
	text-align: left;
	border: solid gray 1px;
	border-radius: 10px;
}

#popupContent {
    fill: #949185;
    font-family: "IM Fell English", serif;
}

.hide {
    display: None;
}

/* language information panel */
.map-overlay {
    position: absolute;
    font-family: lato;
    overflow: auto;
    text-align: center;
    border-left:solid rgb(255, 255, 255);
    border-radius: 1px;
    margin-top: 0%;

}


/* endangerment level panel */
#filter {
    bottom: 0%;
    right: 0;
    top: 8%;
    height: 22%;
    margin-top: 1%;
    margin-left: 10%;
    padding-left: 10%;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-bottom: solid rgb(255, 255, 255);
    text-align: left;
    text-indent: 2%;
    font-size: 1em;
}

.container {
    left:82%;
}

#info {
    bottom: 0%;
    right: 0%;
    top: 30%;
    height: 30%;
    width: 20%;
    border-bottom: 1px solid white;
    border-left: 1px solid rgb(255, 255, 255);
    border-radius: 1px;
    margin-top: 1%;
}

#chart {
    bottom: 0%;
    right: 0%;
    top: 50%;
    height: 40%;
    margin-top: 5%;
    margin-bottom: 0%;
    width: 20%;

}

/* icon and effect */
.icon {
    position: absolute;
    overflow: auto;
    border-radius: 25px;
    border-color: black;
    right: 20%;
    height: 40px;
    width: 40px;
    z-index: 1000;
    cursor: pointer;
}

#reset {
    background-image: url('../img/Reexpress.svg');
    background-color: white;
    height: 32px;
    width: 32px;
    top: 15%;
    right: 20.5%;
}

#infoButton {
    background: url('../img/Info.svg');
    background-color: rgba(137, 90, 47, 0.632);
    top: 2%;
    height: 32px;
    width: 32px;
    border-radius: 25px;
    right: 1%;
}

#github {
    background: url('../img/Github.svg');
    background-color: rgba(137, 90, 47, 0.632);
    top: 7%;
    height: 32px;
    width: 32px;
    border-radius: 25px;
    right: 1%;
    position: bottom;
}

.icon:hover {
    box-shadow: 0px 3px 3px 0px rgba(137, 90, 47, 0.632);
}


/* Endagerment Level label styling */
/* check box color */
input#moribund_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: rgba(137, 90, 47, 0.632);
}

input#shifting_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: rgba(137, 90, 47, 0.632);
}

input#threatened_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: rgba(137, 90, 47, 0.632);
}

input#nearly_extinct_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: rgba(137, 90, 47, 0.632);
}

input#extinct_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: rgba(137, 90, 47, 0.632);
}


/* color */
#shifting_color {
    background-color: #f4c6b4;
}

#threatened_color {
    background-color: #f89371;
}

#nearly_extinct_color {
    background-color: #f75d3a;
}

#moribund_color {
    background-color: #b20a04;
}

#extinct_color{
    background-color: #5B5354;
}

/* endangerment language panel */
#info_placeholder {
    position: relative;
    top: 45%;
}

.info_content {
    position: relative;
    top: 13%;
    font-size: 1em;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 0%;
    margin-top: 1%;
    font-family: "lato";
}

.info_title {
    position: relative;
    top:10%;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0%;
    margin-top: 1%;
    font-family: "IM Fell English", serif;
}



.highlight {
    stroke-width: 5px;
    stroke: rgb(65, 41, 41);
}


/* popup for chart */
.infolabel {
    position: absolute;
    height: 20px;
    min-width: 50px;
    color: #000000;
    background-color: #ffffff;
    border: solid thin #000000;
    padding: 5px 10px;
    z-index: 1000;
    text-align: center;
    font-family: lato;
    font-weight: 50;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: IM Fell English, sans-serif;
    font-weight: normal;

}

.box {
    float: left;
    margin-top: 1%;
    margin-left: 5%;
    height: 15px;
    width: 15px;
    clear: both;
    left: 2px;
}


#filter h4 {
    margin-left: 2.5%;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 12%;
}

/* #chart svg {
    margin-top: 10px;
} */

#chartTitle {
    z-index: 1000;
    margin-top: 13%;
    margin-bottom: 0%;
    font-family: IM Fell English, sans-serif;
    font-size:1.4em;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}