/*insert style here*/

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 220, 202);
    left: 0px;
}
#map {
    position: absolute;
    top: 10%;
    bottom: 5%;
    left: 1px;
    width: 77%;
    height: 90%;
  }

#title-background {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background-color: #D8CA9B;
}
#title {
    position: absolute;
    top: 1%;
    left: 3%;
    font-size: 80px;
    font-family: "Jomhuria", serif;
}

#panel {
    position: absolute;
    background-color: rgb(137, 217, 205);
    right:0px;
    width: 23%;
    height: 90%;
    top:10%;
    border-left-color: black;
}

#search {
    position: absolute;
    fill: rgb(5, 254, 254);
    right:20px;
    width: 18%;
    height: 30px;
    top:10%;
    border-left-color: black;
    z-index: 20;
}

#popupContent {
    fill: #949185;
    font-family: "Jomhuria", serif;
}

.hide {
    display: None;
}

.map-overlay {
    position: absolute;
    font-family: Arial, sans-serif;
    overflow: auto;
    text-align: center;
}

#filter {
    bottom: 0;
    right: 0;
    top: 5.5%;
    height: 20%;
    margin-top: 40px;
    width: 23%;
    border-top: solid black;
    display: flex;
    flex-direction: column;
    border-bottom: solid black;
    border-radius: 1px;
    text-align: center;
}

.container {
    left:82%;
}

#info {
    bottom: 0;
    right: 0;
    top: 25%;
    height: 30%;
    margin-top: 40px;
    width: 23%;
    border-bottom: solid black;
    border-radius: 1px;
}

#chart1 {
    bottom: 0;
    right: 0;
    top: 60%;
    height: 40%;
    margin-top: 40px;
    width: 23%;
}

.reset {
    position: absolute;
    overflow: auto;
    background: url('../img/reset.png');
    background-color: white;
    border-radius: 12px;
    border-color: black;
    left: 12px;
    top: 19%;
    height: 32px;
    width: 32px;
    z-index: 1000;
    cursor: pointer;
}

.reset:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

input#moribund_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: #DE2D26;
}

input#shifting_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: #FC9272;
}

input#threatened_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: #FCBBA1;
}

input#nearly_extinct_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: #FB6A4A;
}

input#extinct_check {
    box-sizing: border-box;
    padding: 0;
    accent-color: #5B5354;
}

#info_placeholder {
    position: relative;
    top: 45%;
}

.info_content {
    position: relative;
    top:30%;
}

.info_title {
    position: relative;
    top:30%;
    font-style: bold;
    font-size: 20;
}