/*insert style here*/

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 220, 202);
    left: 0px;
}
#map {
    position: absolute;
    top: 10%;
    bottom: 5%;
    left: 1px;
    width: 70%;
    height: 80%;
  }

#title-background {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background-color: #D8CA9B;
}
#title {
    position: absolute;
    top: 1%;
    left: 3%;
    font-size: 80px;
    font-family: "Jomhuria", serif;
}

#panel {
    position: absolute;
    background-color: rgb(189, 165, 143);
    right:0px;
    width: 30%;
    height: 80%;
    bottom: 10%;
    top:10%;
    border-left-color: black;
}

#search {
    position: absolute;
    fill: rgb(5, 254, 254);
    right:20px;
    width: 18%;
    height: 30px;
    top:10%;
    border-left-color: black;
    z-index: 20;
}

